<div class="kenko-dashboard">
    <mat-toolbar color="primary" class="app-nav-bar mat-elevation-z6">
        <H5>English Words Test</H5>
    </mat-toolbar>
    <mat-sidenav-container class="kenko-main-content">
        <mat-sidenav class="side-nav" mode="side" [(opened)]="sideMenuOpened">
            <mat-toolbar>
                <h6>Online Members</h6>
            </mat-toolbar>
            <mat-list>
                <ng-container *ngFor="let member of onlineMembers">
                    <mat-list-item [ngClass]="getClass(member)"
                        (click)="selectMember(member)">
                        <ngx-avatar name="{{member.name}}"></ngx-avatar>
                        <h4 mat-line>{{member.name}}</h4>
                        <p mat-line> Right: <span style="color: green;">{{member.rightAnswer}}</span>, Wrong: <span
                                style="color: red;">{{member.wrongAnswer}}</span></p>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </mat-sidenav>
        <mat-sidenav-content class="side-nav-content">
            <div class="side-nav-control-anchor" (click)="toggleNav()">
                <mat-icon *ngIf="sideMenuOpened">keyboard_arrow_left</mat-icon>
                <mat-icon *ngIf="!sideMenuOpened">keyboard_arrow_right</mat-icon>
            </div>
            <mat-card class="card">
                <mat-card-header style="display: flex; justify-content: center;">
                    <mat-card-title *ngIf="currentTester">
                        CURRENT： {{currentTester?.name}}
                    </mat-card-title>
                    <mat-card-title *ngIf="!currentTester">
                        SELECT TESTER
                    </mat-card-title>
                </mat-card-header>
                <ng-container *ngIf="currentTester && testStarted">
                    <mat-card-content>
                        <div class="word-presentation">
                            {{allWords[currentWordIndex]}}
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="action-button-group">
                        <ng-container>
                            <button mat-fab color=primary (click)="rightAnswer()"> PASS </button>
                            <button mat-fab color=warn (click)="wrongAnswer()"> FAIL </button>
                        </ng-container>
                    </mat-card-actions>
                </ng-container>
                <ng-container *ngIf="currentTester && !testStarted">
                    <mat-card-actions class="action-button-group">
                        <button mat-raised-button color=primary (click)="startTest()"> Start Test </button>
                    </mat-card-actions>

                </ng-container>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
